<div class="container">
  <div class="left">
    <div class="title">Annoucement</div>

    <mat-card *ngFor="let annoucement of annoucementList">
      <mat-card-title >{{annoucement.title}}</mat-card-title>
      <mat-card-content
        >{{truncateDescription(annoucement.Description)}}</mat-card-content
      >
      <button mat-raised-button color="primary" matBadge="8">Read More</button>
    </mat-card>
  </div>
  <div class="right">
    <div class="roundC">
      
    </div>
  </div>
</div>
