<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="loginPallete">
    <div class="left">
      <form action="" class="form-table">
        <table>
          <tr>
            <td colspan="2">
              <img src="/assets/logo.png" alt="logo" class="logo" />
            </td>
          </tr>
          <tr class="titles">
            <td colspan="2">
              <h1 class="primary-title">Login in to your Account</h1>
            </td>
          </tr>
          <tr>
            <td class="secondary-title" colspan="2">
              <p>Welcome back! Select Method to log in:</p>
            </td>
          </tr>
          <tr>
            <td class="buttons">
              <button mat-raised-button>
                <mat-icon>Google</mat-icon>Google
              </button>
            </td>
            <td>
              <button mat-raised-button>
                <mat-icon>facebook</mat-icon>Facebook
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="orMessage">
              <div class="newD">

                <div class="new"></div>
                <div class="text">Or Continue with Username & Password</div>
                <div class="new"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="ex. example@g.com" />
                <mat-icon matSuffix class="material-symbols-outlined">
                  mail
                </mat-icon>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="ex. **********" />
                <mat-icon matSuffix class="material-symbols-outlined">
                  lock
                </mat-icon>
              </mat-form-field>
            </td>
          </tr>
          <tr class="forgotPass">
            <td>
              <mat-checkbox color="primary">
                <span>Remember me</span></mat-checkbox>
            </td>
            <td>
              <a href="#"> <span>Forgot Password?</span> </a>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="submitBtn">
              <button mat-raised-button color="primary" (click)="navigateToDashboard()">Log in</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Don't have an account? <a href="">Create an account</a>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="right">
      <div class="rightBGImage"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>

</html>