<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a routerLink="/">
        <img src="/assets/logo.png" height="40" class="mr-2"
      /></a>
    </ng-template>
    <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search" class="w-full" />
    </ng-template>
  </p-menubar>
</div>
<mat-drawer-container class="container" autosize >
  <mat-drawer mode="side" opened class="menu-section" [disableClose]="true">
    <ul>
      <li>
        <a routerLink="homepage">
          <i class="pi pi-home mr-2"></i><span>Dashboard</span></a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="userreports">
          <i class="pi pi-chart-line mr-2"></i>
          <span>Report</span></a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="society-members"
          ><i class="pi pi-users mr-2"></i><span>Members</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="chat"
          ><i class="pi pi-comments mr-2"></i><span>Messages</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="festive-calender"
          ><i class="pi pi-calendar mr-2"></i> <span>Calendar</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="user-setting">
          <i class="pi pi-cog mr-2"></i><span>Settings</span>
        </a>
      </li>
    </ul>
    <div class="user-profile"></div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
