<mat-card class="container">
  <mat-card-header>
    <span>SMS Society Chat Room</span>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-drawer-container>
    <mat-drawer mode="side" opened>
      <div class="card flex justify-content-center">
        <mat-list>
          <mat-list-item>Group I</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Group II</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Group III</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="chatHistory">
        <mat-card class="message">
          <mat-card-content
            ><span [(ngModel)]="message" class="newMessages"
              >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum,
              officia.</span
            ></mat-card-content
          >
        </mat-card>
      </div>
      <div class="newChat">
        <span class="material-symbols-outlined"> attach_file </span>
        <input type="text" pInputText [(ngModel)]="message" />
        <button mat-raised-button (click)="sendMessage()" color="primary">
          <span class="material-symbols-outlined">send</span>
        </button>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-card>
